# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Docker Registry Browser systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ docker_registry_browser_identifier }}.service"
  register: docker_registry_browser_service_stat

- name: Uninstall Docker Registry Browser systemd services and files
  when: docker_registry_browser_service_stat.stat.exists | bool
  block:
    - name: Ensure Docker Registry Browser systemd service is stopped
      ansible.builtin.service:
        name: "{{ docker_registry_browser_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Docker Registry Browser systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ docker_registry_browser_identifier }}.service"
        state: absent

    - name: Ensure Docker Registry Browser container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ docker_registry_browser_container_network }}"
        state: absent
      register: docker_registry_browser_network_deletion_result

    - name: Ensure Docker Registry Browser container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ docker_registry_browser_container_network }}
      register: docker_registry_browser_network_deletion_result
      changed_when: docker_registry_browser_container_network in docker_registry_browser_network_deletion_result.stdout

    - name: Ensure Docker Registry Browser path does not exist
      ansible.builtin.file:
        path: "{{ docker_registry_browser_base_path }}"
        state: absent
